<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soecode.web.mapper.AppraiseInfoMapper">
  <resultMap id="BaseResultMap" type="com.soecode.web.entity.AppraiseInfo">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="ORDER_ID" jdbcType="INTEGER" property="orderId" />
    <result column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="USER_MOBILE" jdbcType="VARCHAR" property="userMobile" />
    <result column="START_ORDER_TIME" jdbcType="TIMESTAMP" property="startOrderTime" />
    <result column="SERVICE_EVALUATE" jdbcType="TINYINT" property="serviceEvaluate" />
    <result column="WASHING_EVALUATE" jdbcType="TINYINT" property="washingEvaluate" />
    <result column="LOGISTICS_EVALUATE" jdbcType="TINYINT" property="logisticsEvaluate" />
    <result column="APPRAISE_TIME" jdbcType="TIMESTAMP" property="appraiseTime" />
    <result column="APPRAISE_CONTENT" jdbcType="VARCHAR" property="appraiseContent" />
    <result column="APPRAISE_IMG" jdbcType="VARCHAR" property="appraiseImg" />
    <result column="GRADE" jdbcType="DOUBLE" property="grade" />
    <result column="Enable_SHOW" jdbcType="INTEGER" property="enableShow" />
    <result column="APPRAISE_REPLY" jdbcType="INTEGER" property="appraiseReply" />
    <result column="REPLY_CONTENT" jdbcType="VARCHAR" property="replyContent" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ORDER_ID, USER_ID, USER_NAME, USER_MOBILE, START_ORDER_TIME, SERVICE_EVALUATE, 
    WASHING_EVALUATE, LOGISTICS_EVALUATE, APPRAISE_TIME, APPRAISE_CONTENT, APPRAISE_IMG, 
    GRADE, Enable_SHOW, APPRAISE_REPLY, REPLY_CONTENT, CREATE_TIME, UPDATE_TIME
  </sql>

  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from appraise_info
    where USER_ID = #{userId,jdbcType=INTEGER}
  </select>

  <!--查询评价列表-->
  <select id="selectAppraiseList" resultType="java.util.Map">
    select
      a.ORDER_ID as orderId,
      a.USER_NAME as userName,
      a.USER_MOBILE  as userMobile,
      DATE_FORMAT(a.APPRAISE_TIME,'%Y-%m-%d') as appraiseTime,
      a.APPRAISE_CONTENT as appraiseContent,
      a.APPRAISE_IMG as appraiseImg,
      c.CLASSIFY_NAME as classifyName,
      count(a.ORDER_ID) as num
    from appraise_info a left join order_detail b on a.ORDER_ID = b.ORDER_ID
    left join item_classify c on b.GOODS_TYPE = c.CLASSIFY_ID
    where a.Enable_SHOW = 1
    group by orderId
    order by appraiseTime desc

  </select>

</mapper>