<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soecode.web.mapper.AreaMapper">
  <resultMap id="BaseResultMap" type="com.soecode.web.entity.Area">
    <id column="AREA_ID" jdbcType="BIGINT" property="areaId" />
    <result column="AREA_CODE" jdbcType="VARCHAR" property="areaCode" />
    <result column="AREA_DESC" jdbcType="VARCHAR" property="areaDesc" />
    <result column="SORT_CODE" jdbcType="INTEGER" property="sortCode" />
    <result column="HOS_OPEN_FLAG" jdbcType="SMALLINT" property="hosOpenFlag" />
    <result column="AREA_LEVEL" jdbcType="SMALLINT" property="areaLevel" />
    <result column="PARENT_CODE" jdbcType="VARCHAR" property="parentCode" />
    <result column="FULL_NAME" jdbcType="VARCHAR" property="fullName" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="QUHAO" jdbcType="VARCHAR" property="quhao" />
    <result column="FIRSTLETTER" jdbcType="CHAR" property="firstletter" />
  </resultMap>
  <sql id="Base_Column_List">
    AREA_ID, AREA_CODE, AREA_DESC, SORT_CODE, HOS_OPEN_FLAG, AREA_LEVEL, PARENT_CODE, 
    FULL_NAME, CREATE_TIME, QUHAO, FIRSTLETTER
  </sql>

  <select id="listArea" parameterType="com.soecode.web.entity.Area" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM  area
    WHERE
    <if test="parentCode == null">
      parent_code =0
    </if>
    <if test="parentCode != null">
      parent_code = #{parentCode}
    </if>
  </select>
</mapper>