<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soecode.web.mapper.EmployeeInfoMapper">
  <resultMap id="BaseResultMap" type="com.soecode.web.entity.EmployeeInfo">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="EMP_ID" jdbcType="INTEGER" property="empId" />
    <result column="JOB_TITLE" jdbcType="VARCHAR" property="jobTitle" />
    <result column="EMP_SEX" jdbcType="INTEGER" property="empSex" />
    <result column="EMP_IDCARD" jdbcType="VARCHAR" property="empIdcard" />
    <result column="EMP_MOBILE" jdbcType="VARCHAR" property="empMobile" />
    <result column="EMP_ADDR" jdbcType="VARCHAR" property="empAddr" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, EMP_ID, JOB_TITLE, EMP_SEX, EMP_IDCARD, EMP_MOBILE, EMP_ADDR, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from "employee_info"
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from "employee_info"
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.soecode.web.entity.EmployeeInfo">
    insert into "employee_info" (ID, EMP_ID, JOB_TITLE, 
      EMP_SEX, EMP_IDCARD, EMP_MOBILE, 
      EMP_ADDR, CREATE_TIME, UPDATE_TIME
      )
    values (#{id,jdbcType=INTEGER}, #{empId,jdbcType=INTEGER}, #{jobTitle,jdbcType=VARCHAR}, 
      #{empSex,jdbcType=INTEGER}, #{empIdcard,jdbcType=VARCHAR}, #{empMobile,jdbcType=VARCHAR}, 
      #{empAddr,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.soecode.web.entity.EmployeeInfo">
    insert into "employee_info"
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="empId != null">
        EMP_ID,
      </if>
      <if test="jobTitle != null">
        JOB_TITLE,
      </if>
      <if test="empSex != null">
        EMP_SEX,
      </if>
      <if test="empIdcard != null">
        EMP_IDCARD,
      </if>
      <if test="empMobile != null">
        EMP_MOBILE,
      </if>
      <if test="empAddr != null">
        EMP_ADDR,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="empId != null">
        #{empId,jdbcType=INTEGER},
      </if>
      <if test="jobTitle != null">
        #{jobTitle,jdbcType=VARCHAR},
      </if>
      <if test="empSex != null">
        #{empSex,jdbcType=INTEGER},
      </if>
      <if test="empIdcard != null">
        #{empIdcard,jdbcType=VARCHAR},
      </if>
      <if test="empMobile != null">
        #{empMobile,jdbcType=VARCHAR},
      </if>
      <if test="empAddr != null">
        #{empAddr,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.soecode.web.entity.EmployeeInfo">
    update "employee_info"
    <set>
      <if test="empId != null">
        EMP_ID = #{empId,jdbcType=INTEGER},
      </if>
      <if test="jobTitle != null">
        JOB_TITLE = #{jobTitle,jdbcType=VARCHAR},
      </if>
      <if test="empSex != null">
        EMP_SEX = #{empSex,jdbcType=INTEGER},
      </if>
      <if test="empIdcard != null">
        EMP_IDCARD = #{empIdcard,jdbcType=VARCHAR},
      </if>
      <if test="empMobile != null">
        EMP_MOBILE = #{empMobile,jdbcType=VARCHAR},
      </if>
      <if test="empAddr != null">
        EMP_ADDR = #{empAddr,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.soecode.web.entity.EmployeeInfo">
    update "employee_info"
    set EMP_ID = #{empId,jdbcType=INTEGER},
      JOB_TITLE = #{jobTitle,jdbcType=VARCHAR},
      EMP_SEX = #{empSex,jdbcType=INTEGER},
      EMP_IDCARD = #{empIdcard,jdbcType=VARCHAR},
      EMP_MOBILE = #{empMobile,jdbcType=VARCHAR},
      EMP_ADDR = #{empAddr,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>