<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soecode.web.mapper.ItemInfoMapper">
  <resultMap id="BaseResultMap" type="com.soecode.web.entity.ItemInfo">
    <id column="ITEM_ID" jdbcType="INTEGER" property="itemId" />
    <result column="ITEM_NAME" jdbcType="VARCHAR" property="itemName" />
    <result column="CLASSIFY_ID" jdbcType="INTEGER" property="classifyId" />
    <result column="CLASSIFY_NAME" jdbcType="VARCHAR" property="classifyName" />
    <result column="ITEM_PRICE" jdbcType="DOUBLE" property="itemPrice" />
    <result column="GOODS_TEXTURE" jdbcType="VARCHAR" property="goodsTexture" />
    <result column="SEASON" jdbcType="INTEGER" property="season" />
    <result column="WASH_METHOD" jdbcType="VARCHAR" property="washMethod" />
    <result column="ITEM_IMG" jdbcType="VARCHAR" property="itemImg" />
    <result column="JOIN_ACTIVITIES" jdbcType="INTEGER" property="joinActivities" />
  </resultMap>
  <sql id="Base_Column_List">
    ITEM_ID, ITEM_NAME, CLASSIFY_ID, CLASSIFY_NAME, ITEM_PRICE, GOODS_TEXTURE, SEASON,
    WASH_METHOD, ITEM_IMG, JOIN_ACTIVITIES
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="com.soecode.web.entity.ItemInfo">
    delete from item_info
     where ITEM_ID = #{itemId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.soecode.web.entity.ItemInfo">
    insert into item_info (ITEM_NAME,
      CLASSIFY_ID, CLASSIFY_NAME, ITEM_PRICE,
      GOODS_TEXTURE, SEASON, WASH_METHOD,
      ITEM_IMG, JOIN_ACTIVITIES,
      CREATE_TIME,UPDATE_TIME)
    values (#{itemName,jdbcType=VARCHAR},
      #{classifyId,jdbcType=INTEGER}, #{classifyName,jdbcType=VARCHAR}, #{itemPrice,jdbcType=DOUBLE}, 
      #{goodsTexture,jdbcType=VARCHAR}, #{season,jdbcType=INTEGER}, #{washMethod,jdbcType=VARCHAR}, 
      #{itemImg,jdbcType=VARCHAR}, #{joinActivities,jdbcType=INTEGER},
      #{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.soecode.web.entity.ItemInfo">
    insert into item_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="itemId != null">
        ITEM_ID,
      </if>
      <if test="itemName != null">
        ITEM_NAME,
      </if>
      <if test="classifyId != null">
        CLASSIFY_ID,
      </if>
      <if test="classifyName != null">
        CLASSIFY_NAME,
      </if>
      <if test="itemPrice != null">
        ITEM_PRICE,
      </if>
      <if test="goodsTexture != null">
        GOODS_TEXTURE,
      </if>
      <if test="season != null">
        SEASON,
      </if>
      <if test="washMethod != null">
        WASH_METHOD,
      </if>
      <if test="itemImg != null">
        ITEM_IMG,
      </if>
      <if test="joinActivities != null">
        JOIN_ACTIVITIES,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="itemId != null">
        #{itemId,jdbcType=INTEGER},
      </if>
      <if test="itemName != null">
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="classifyId != null">
        #{classifyId,jdbcType=INTEGER},
      </if>
      <if test="classifyName != null">
        #{classifyName,jdbcType=VARCHAR},
      </if>
      <if test="itemPrice != null">
        #{itemPrice,jdbcType=DOUBLE},
      </if>
      <if test="goodsTexture != null">
        #{goodsTexture,jdbcType=VARCHAR},
      </if>
      <if test="season != null">
        #{season,jdbcType=INTEGER},
      </if>
      <if test="washMethod != null">
        #{washMethod,jdbcType=VARCHAR},
      </if>
      <if test="itemImg != null">
        #{itemImg,jdbcType=VARCHAR},
      </if>
      <if test="joinActivities != null">
        #{joinActivities,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.soecode.web.entity.ItemInfo">
    update item_info
    <set>
      <if test="itemName != null">
        ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="classifyId != null">
        CLASSIFY_ID = #{classifyId,jdbcType=INTEGER},
      </if>
      <if test="classifyName != null">
        CLASSIFY_NAME = #{classifyName,jdbcType=VARCHAR},
      </if>
      <if test="itemPrice != null">
        ITEM_PRICE = #{itemPrice,jdbcType=DOUBLE},
      </if>
      <if test="goodsTexture != null">
        GOODS_TEXTURE = #{goodsTexture,jdbcType=VARCHAR},
      </if>
      <if test="season != null">
        SEASON = #{season,jdbcType=INTEGER},
      </if>
      <if test="washMethod != null">
        WASH_METHOD = #{washMethod,jdbcType=VARCHAR},
      </if>
      <if test="itemImg != null">
        ITEM_IMG = #{itemImg,jdbcType=VARCHAR},
      </if>
      <if test="joinActivities != null">
        JOIN_ACTIVITIES = #{joinActivities,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
      and ITEM_ID = #{itemId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.soecode.web.entity.ItemInfo">
    update item_info
    set ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      CLASSIFY_ID = #{classifyId,jdbcType=INTEGER},
      CLASSIFY_NAME = #{classifyName,jdbcType=VARCHAR},
      ITEM_PRICE = #{itemPrice,jdbcType=DOUBLE},
      GOODS_TEXTURE = #{goodsTexture,jdbcType=VARCHAR},
      SEASON = #{season,jdbcType=INTEGER},
      WASH_METHOD = #{washMethod,jdbcType=VARCHAR},
      ITEM_IMG = #{itemImg,jdbcType=VARCHAR},
      JOIN_ACTIVITIES = #{joinActivities,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
      and ITEM_ID = #{itemId,jdbcType=INTEGER}
  </update>
  <!--查询限时抢购项目列表-->
  <select id="selectXSQGItemList" resultType="java.util.Map">
  select
      CLASSIFY_NAME  as  classifyName,
      ITEM_ID as itemId,
      ITEM_NAME as itemName,
      ITEM_PRICE  as itemPrice,
      GOODS_TEXTURE  as goodsTexture,
      case SEASON
      when 1 then '春秋'
      when 2 then '夏'
      when 3 then '冬'
      else '' end  as season,
      WASH_METHOD as washMethod,
      ITEM_IMG as itemImg
      from item_info
      where JOIN_ACTIVITIES = 1
 </select>
<!--查询加入购物车商品-->
  <select id="queryItemShopCart" resultType="java.util.Map">
    select
    ITEM_ID as itemId,
    ITEM_NAME as itemName,
    ITEM_PRICE  as itemPrice,
    GOODS_TEXTURE  as goodsTexture,
    case SEASON
    when 1 then '春秋'
    when 2 then '夏'
    when 3 then '冬'
    else '' end  as season,
    ITEM_IMG as itemImg
    from item_info
    where
    ITEM_ID = #{itemId}
  </select>
<!--查询商品列表-->
    <select id="queryByItemName" resultType="java.util.Map">
 select
      CLASSIFY_NAME  as  classifyName,
      ITEM_ID as itemId,
      ITEM_NAME as itemName,
      ITEM_PRICE  as itemPrice,
      GOODS_TEXTURE  as goodsTexture,
      case SEASON
      when 1 then '春秋'
      when 2 then '夏'
      when 3 then '冬'
      else '' end  as season,
      WASH_METHOD as washMethod,
      ITEM_IMG as itemImg
      from item_info
      where
      <choose>
        <when test="itemName != null and itemName !=''">
          lower(ITEM_NAME) like concat('%',concat(lower(#{itemName})),'%')
        </when>
        <otherwise>
          <if test="classifyId!=null and classifyId != ''">
             CLASSIFY_ID = #{classifyId}
          </if>
          <if test="season!=null and season != ''">
            and  SEASON = #{season}
          </if>
        </otherwise>
      </choose>
    </select>
  <select id="queryByClassifyId" resultType="java.util.Map">
    select
    CLASSIFY_NAME  as  classifyName,
    ITEM_ID as itemId,
    ITEM_NAME as itemName,
    ITEM_PRICE  as itemPrice,
    GOODS_TEXTURE  as goodsTexture,
    case SEASON
    when 1 then '春秋'
    when 2 then '夏'
    when 3 then '冬'
    when 4 then '其他'
    else '' end  as season,
    WASH_METHOD as washMethod,
    ITEM_IMG as itemImg
    from item_info
    where
        CLASSIFY_ID = #{classifyId}
        <if test="season!=null and season != ''">
          and  SEASON = #{season}
        </if>
  </select>
  <select id="queryOneByItemId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from item_info
    where item_id = #{itemId}
  </select>

</mapper>