<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soecode.web.mapper.ItemClassifyMapper">
  <resultMap id="BaseResultMap" type="com.soecode.web.entity.ItemClassify">
    <id column="CLASSIFY_ID" jdbcType="INTEGER" property="classifyId" />
    <result column="CLASSIFY_NAME" jdbcType="VARCHAR" property="classifyName" />
    <result column="CLASSIFY_IMG" jdbcType="VARCHAR" property="classifyImg" />
    <result column="Enable" jdbcType="INTEGER" property="enable" />
  </resultMap>
  <sql id="Base_Column_List">
     CLASSIFY_ID, CLASSIFY_NAME, CLASSIFY_IMG, Enable
  </sql>
<!--项目分类列表查询-->
  <select id="selectItemClassifyList" resultType="java.util.Map">
    SELECT
    a.CLASSIFY_ID as classifyId,
    a.CLASSIFY_NAME as classifyName,
    a.CLASSIFY_IMG as classifyImg
    FROM  item_classify a
    WHERE a.Enable = 1
  </select>

</mapper>