<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soecode.web.mapper.OrderInfoMapper">
  <resultMap id="BaseResultMap" type="com.soecode.web.entity.OrderInfo">
    <result column="ORDER_ID" jdbcType="INTEGER" property="orderId" />
    <result column="ORDER_STATE" jdbcType="INTEGER" property="orderState" />
    <result column="GOODS_NUM" jdbcType="INTEGER" property="goodsNum" />
    <result column="ORDER_MONERY" jdbcType="DOUBLE" property="orderMonery" />
    <result column="START_ORDER_TIME" jdbcType="TIMESTAMP" property="startOrderTime" />
    <result column="PAY_WAY" jdbcType="VARCHAR" property="payWay" />
    <result column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="RECEIVE_INFO_ID" jdbcType="VARCHAR" property="receiveInfoId" />
    <result column="TAKE_PERSON_ID" jdbcType="INTEGER" property="takePersonId" />
    <result column="TAKE_PERSON_NAME" jdbcType="VARCHAR" property="takePersonName" />
    <result column="TAKE_TIME" jdbcType="TIMESTAMP" property="takeTime" />
    <result column="SORT_TIME" jdbcType="TIMESTAMP" property="sortTime" />
    <result column="CLEAN_TIME" jdbcType="TIMESTAMP" property="cleanTime" />
    <result column="DELIVERY_TIME" jdbcType="TIMESTAMP" property="deliveryTime" />
    <result column="GET_GOODS_TIME" jdbcType="TIMESTAMP" property="getGoodsTime" />
    <result column="COMMISSION" jdbcType="VARCHAR" property="commission" />
    <result column="REMARKS" jdbcType="VARCHAR" property="remarks" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="APPOINTMENT_TIME" jdbcType="VARCHAR" property="appointmentTime" />

  </resultMap>
  <sql id="Base_Column_List">
    ORDER_ID, ORDER_STATE, GOODS_NUM, ORDER_MONERY, START_ORDER_TIME, PAY_WAY, USER_ID,
    USER_NAME, USER_ADDR, TAKE_PERSON_ID, TAKE_PERSON_NAME, TAKE_TIME, SORT_TIME, CLEAN_TIME, 
    DELIVERY_TIME, GET_GOODS_TIME, COMMISSION, REMARKS, CREATE_TIME, UPDATE_TIME,APPOINTMENT_TIME
  </sql>
    <insert id="insertOrder" parameterType="com.soecode.web.entity.OrderInfo">
      <selectKey keyProperty="orderId" order="AFTER" resultType="java.lang.Integer">
        select LAST_INSERT_ID() as  orderId
      </selectKey>
        insert into order_info (ORDER_STATE,
           GOODS_NUM, ORDER_MONERY, START_ORDER_TIME,
           PAY_WAY, USER_ID, USER_NAME,
           RECEIVE_INFO_ID, REMARKS, CREATE_TIME,APPOINTMENT_TIME,APPOINTMENT_TIME_ID
            )
          values (1, #{goodsNum,jdbcType=INTEGER}, #{orderMonery,jdbcType=DOUBLE}, #{startOrderTime,jdbcType=TIMESTAMP},
            #{payWay,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR},
            #{receiveInfoId,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
            #{appointmentTime,jdbcType=VARCHAR},#{appointmentTimeId,jdbcType=INTEGER}
            )
    </insert>
    <delete id="deleteByOrderId" parameterType="java.lang.Integer">
    delete from order_info
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>

  <update id="updateByOrderIdSelective" parameterType="com.soecode.web.entity.OrderInfo">
    update order_info
    <set>
      <if test="orderState != null">
        ORDER_STATE = #{orderState,jdbcType=INTEGER},
      </if>
      <if test="goodsNum != null">
        GOODS_NUM = #{goodsNum,jdbcType=INTEGER},
      </if>
      <if test="orderMonery != null">
        ORDER_MONERY = #{orderMonery,jdbcType=DOUBLE},
      </if>
      <if test="startOrderTime != null">
        START_ORDER_TIME = #{startOrderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payWay != null">
        PAY_WAY = #{payWay,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="receiveInfoId != null">
        RECEIVE_INFO_ID = #{receiveInfoId,jdbcType=INTEGER},
      </if>
      <if test="takePersonId != null">
        TAKE_PERSON_ID = #{takePersonId,jdbcType=INTEGER},
      </if>
      <if test="takePersonName != null">
        TAKE_PERSON_NAME = #{takePersonName,jdbcType=VARCHAR},
      </if>
      <if test="takeTime != null">
        TAKE_TIME = #{takeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sortTime != null">
        SORT_TIME = #{sortTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cleanTime != null">
        CLEAN_TIME = #{cleanTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deliveryTime != null">
        DELIVERY_TIME = #{deliveryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="getGoodsTime != null">
        GET_GOODS_TIME = #{getGoodsTime,jdbcType=TIMESTAMP},
      </if>
      <if test="commission != null">
        COMMISSION = #{commission,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appointmentTime != null">
        APPOINTMENT_TIME = #{appointmentTime,jdbcType=VARCHAR},
      </if>
    </set>
    where ORDER_ID = #{orderId,jdbcType=INTEGER}
  </update>
  <update id="updateOrderState">
    update order_info
    <set>
        ORDER_STATE = 9
    </set>
    where ORDER_ID = #{orderId,jdbcType=INTEGER}
  </update>
</mapper>