<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soecode.web.mapper.ReceiveAreaMapper">
      <resultMap id="BaseResultMap" type="com.soecode.web.entity.ReceiveArea">
        <result column="id" property="id"/>
        <result column="receiver_name" property="receiverName"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="area" property="area"/>
        <result column="street" property="street"/>
        <result column="has_default" property="hasDefault"/>
        <result column="phone" property="phone"/>
        <result column="address" property="address"/>
        <result column="gmt_modify" property="gmtModify"/>
      </resultMap>



      <sql id="baseColumn">
        user_id,
        receiver_name,
        province,
        city,area,
        street,
        address,
        phone,
        has_default,
        gmt_create,
        gmt_modify
    </sql>

      <insert id="addReceiverAddress"   parameterType="com.soecode.web.entity.ReceiveArea" useGeneratedKeys="true"
              keyProperty="id">
        INSERT INTO receive_area
        (
        <include refid="baseColumn"/>
        )
        VALUES
        (#{userId},#{receiverName},#{province},#{city},#{area},#{street},#{address},#{phone},#{hasDefault},now(),now())
      </insert>

      <update id="updteReceiverAddress"  parameterType="com.soecode.web.entity.ReceiveArea">
        update receive_area
        SET
        <if test="receiverName !=null">
          receiver_name = #{receiverName},
        </if>
        <if test="phone !=null">
          phone = #{phone},
        </if>
        <if test="province !=null">
          province = #{province},
        </if>
        <if test="city !=null">
          city = #{city},
        </if>
        <if test="area !=null">
          area = #{area},
        </if>
        <if test="street !=null">
          street = #{street},
        </if>
        <if test="address !=null">
          address = #{address},
        </if>
        <if test="hasDefault !=null">
          has_default = #{hasDefault},
        </if>
        gmt_modify = now()
        WHERE id = #{id}
      </update>

      <select id="chooseReceiverAddress" resultMap="BaseResultMap">
        SELECT id,
        <include refid="baseColumn"/>
        FROM  receive_area
        WHERE user_id = #{userId}
      </select>

      <select id="countReceiverAddress"  resultType="java.lang.Integer">
        SELECT COUNT(1) AS countNum
        FROM  receive_area
        WHERE id = #{id}
    </select>

  <delete id="deleteReceiverAddress" parameterType="com.soecode.web.entity.ReceiveArea">
        delete from receive_area
        where id = #{id}
    </delete>

      <update id="updateHasDefault" parameterType="com.soecode.web.entity.ReceiveArea">
        UPDATE receive_area
        SET has_default = 0
        where user_id = #{userId}
    </update>
  <select id="queryDefaultReceiveArea" resultType="java.util.Map">
SELECT
	receiver_name AS receiverName,
	phone AS phoneNum,
	province,
	city,
	area,
	street,
	address
FROM
	receive_area
WHERE
	user_id = #{userId}
AND has_default = 1

  </select>

    <select id="selectOneById" parameterType="com.soecode.web.entity.ReceiveArea" resultMap="BaseResultMap">
      SELECT id,
      <include refid="baseColumn"/>
      FROM  receive_area
      WHERE id = #{id}
    </select>
</mapper>