<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soecode.web.mapper.RecipeDetailMapper">
  <resultMap id="BaseResultMap" type="com.soecode.web.entity.RecipeDetailDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="recipe_id" jdbcType="VARCHAR" property="recipeId" />
    <result column="first_user" jdbcType="VARCHAR" property="firstUser" />
    <result column="minor_flag" jdbcType="VARCHAR" property="minorFlag" />
    <result column="dept_use_only" jdbcType="VARCHAR" property="deptUseOnly" />
    <result column="group_no" jdbcType="VARCHAR" property="groupNo" />
    <result column="drug_id" jdbcType="VARCHAR" property="drugId" />
    <result column="drug_name" jdbcType="VARCHAR" property="drugName" />
    <result column="hospital_drug_property" jdbcType="VARCHAR" property="hospitalDrugProperty" />
    <result column="register_code" jdbcType="VARCHAR" property="registerCode" />
    <result column="drup_brand_name" jdbcType="VARCHAR" property="drupBrandName" />
    <result column="pack_unit" jdbcType="VARCHAR" property="packUnit" />
    <result column="count_unit" jdbcType="INTEGER" property="countUnit" />
    <result column="producer_id" jdbcType="VARCHAR" property="producerId" />
    <result column="producer_name" jdbcType="VARCHAR" property="producerName" />
    <result column="drug_dose" jdbcType="VARCHAR" property="drugDose" />
    <result column="drup_days" jdbcType="VARCHAR" property="drupDays" />
    <result column="drug_admin_route_name" jdbcType="VARCHAR" property="drugAdminRouteName" />
    <result column="drup_using_freq" jdbcType="VARCHAR" property="drupUsingFreq" />
    <result column="drug_using_opporunity" jdbcType="VARCHAR" property="drugUsingOpporunity" />
    <result column="drug_using_aim" jdbcType="VARCHAR" property="drugUsingAim" />
    <result column="drug_using_area" jdbcType="VARCHAR" property="drugUsingArea" />
    <result column="drug_using_course" jdbcType="VARCHAR" property="drugUsingCourse" />
    <result column="preparation_name" jdbcType="VARCHAR" property="preparationName" />
    <result column="specification" jdbcType="VARCHAR" property="specification" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="despensing_num" jdbcType="INTEGER" property="despensingNum" />
    <result column="fee_total" jdbcType="DOUBLE" property="feeTotal" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="approval_staff_code" jdbcType="VARCHAR" property="approvalStaffCode" />
    <result column="approval_staff_name" jdbcType="VARCHAR" property="approvalStaffName" />
    <result column="approcal_time" jdbcType="TIMESTAMP" property="approcalTime" />
    <result column="special_prompt" jdbcType="VARCHAR" property="specialPrompt" />
    <result column="skin_test_info" jdbcType="VARCHAR" property="skinTestInfo" />
    <result column="skin_test_flag" jdbcType="INTEGER" property="skinTestFlag" />
    <result column="cancel_flag" jdbcType="INTEGER" property="cancelFlag" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, recipe_id, first_user, minor_flag, dept_use_only, group_no, drug_id, drug_name, 
    hospital_drug_property, register_code, drup_brand_name, pack_unit, count_unit, producer_id, 
    producer_name, drug_dose, drup_days, drug_admin_route_name, drup_using_freq, drug_using_opporunity, 
    drug_using_aim, drug_using_area, drug_using_course, preparation_name, specification, 
    price, despensing_num, fee_total, start_time, end_time, approval_staff_code, approval_staff_name, 
    approcal_time, special_prompt, skin_test_info, skin_test_flag, cancel_flag, gmt_modify, 
    gmt_create
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from recipe_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from recipe_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.soecode.web.entity.RecipeDetailDO">
    insert into recipe_detail (id, recipe_id, first_user, 
      minor_flag, dept_use_only, group_no, 
      drug_id, drug_name, hospital_drug_property, 
      register_code, drup_brand_name, pack_unit, 
      count_unit, producer_id, producer_name, 
      drug_dose, drup_days, drug_admin_route_name, 
      drup_using_freq, drug_using_opporunity, drug_using_aim, 
      drug_using_area, drug_using_course, preparation_name, 
      specification, price, despensing_num, 
      fee_total, start_time, end_time, 
      approval_staff_code, approval_staff_name, approcal_time, 
      special_prompt, skin_test_info, skin_test_flag, 
      cancel_flag, gmt_modify, gmt_create
      )
    values (#{id,jdbcType=BIGINT}, #{recipeId,jdbcType=VARCHAR}, #{firstUser,jdbcType=VARCHAR}, 
      #{minorFlag,jdbcType=VARCHAR}, #{deptUseOnly,jdbcType=VARCHAR}, #{groupNo,jdbcType=VARCHAR}, 
      #{drugId,jdbcType=VARCHAR}, #{drugName,jdbcType=VARCHAR}, #{hospitalDrugProperty,jdbcType=VARCHAR}, 
      #{registerCode,jdbcType=VARCHAR}, #{drupBrandName,jdbcType=VARCHAR}, #{packUnit,jdbcType=VARCHAR}, 
      #{countUnit,jdbcType=INTEGER}, #{producerId,jdbcType=VARCHAR}, #{producerName,jdbcType=VARCHAR}, 
      #{drugDose,jdbcType=VARCHAR}, #{drupDays,jdbcType=VARCHAR}, #{drugAdminRouteName,jdbcType=VARCHAR}, 
      #{drupUsingFreq,jdbcType=VARCHAR}, #{drugUsingOpporunity,jdbcType=VARCHAR}, #{drugUsingAim,jdbcType=VARCHAR}, 
      #{drugUsingArea,jdbcType=VARCHAR}, #{drugUsingCourse,jdbcType=VARCHAR}, #{preparationName,jdbcType=VARCHAR}, 
      #{specification,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE}, #{despensingNum,jdbcType=INTEGER}, 
      #{feeTotal,jdbcType=DOUBLE}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{approvalStaffCode,jdbcType=VARCHAR}, #{approvalStaffName,jdbcType=VARCHAR}, #{approcalTime,jdbcType=TIMESTAMP}, 
      #{specialPrompt,jdbcType=VARCHAR}, #{skinTestInfo,jdbcType=VARCHAR}, #{skinTestFlag,jdbcType=INTEGER}, 
      #{cancelFlag,jdbcType=INTEGER}, #{gmtModify,jdbcType=TIMESTAMP}, #{gmtCreate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.soecode.web.entity.RecipeDetailDO">
    insert into recipe_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="recipeId != null">
        recipe_id,
      </if>
      <if test="firstUser != null">
        first_user,
      </if>
      <if test="minorFlag != null">
        minor_flag,
      </if>
      <if test="deptUseOnly != null">
        dept_use_only,
      </if>
      <if test="groupNo != null">
        group_no,
      </if>
      <if test="drugId != null">
        drug_id,
      </if>
      <if test="drugName != null">
        drug_name,
      </if>
      <if test="hospitalDrugProperty != null">
        hospital_drug_property,
      </if>
      <if test="registerCode != null">
        register_code,
      </if>
      <if test="drupBrandName != null">
        drup_brand_name,
      </if>
      <if test="packUnit != null">
        pack_unit,
      </if>
      <if test="countUnit != null">
        count_unit,
      </if>
      <if test="producerId != null">
        producer_id,
      </if>
      <if test="producerName != null">
        producer_name,
      </if>
      <if test="drugDose != null">
        drug_dose,
      </if>
      <if test="drupDays != null">
        drup_days,
      </if>
      <if test="drugAdminRouteName != null">
        drug_admin_route_name,
      </if>
      <if test="drupUsingFreq != null">
        drup_using_freq,
      </if>
      <if test="drugUsingOpporunity != null">
        drug_using_opporunity,
      </if>
      <if test="drugUsingAim != null">
        drug_using_aim,
      </if>
      <if test="drugUsingArea != null">
        drug_using_area,
      </if>
      <if test="drugUsingCourse != null">
        drug_using_course,
      </if>
      <if test="preparationName != null">
        preparation_name,
      </if>
      <if test="specification != null">
        specification,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="despensingNum != null">
        despensing_num,
      </if>
      <if test="feeTotal != null">
        fee_total,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="approvalStaffCode != null">
        approval_staff_code,
      </if>
      <if test="approvalStaffName != null">
        approval_staff_name,
      </if>
      <if test="approcalTime != null">
        approcal_time,
      </if>
      <if test="specialPrompt != null">
        special_prompt,
      </if>
      <if test="skinTestInfo != null">
        skin_test_info,
      </if>
      <if test="skinTestFlag != null">
        skin_test_flag,
      </if>
      <if test="cancelFlag != null">
        cancel_flag,
      </if>
      <if test="gmtModify != null">
        gmt_modify,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="recipeId != null">
        #{recipeId,jdbcType=VARCHAR},
      </if>
      <if test="firstUser != null">
        #{firstUser,jdbcType=VARCHAR},
      </if>
      <if test="minorFlag != null">
        #{minorFlag,jdbcType=VARCHAR},
      </if>
      <if test="deptUseOnly != null">
        #{deptUseOnly,jdbcType=VARCHAR},
      </if>
      <if test="groupNo != null">
        #{groupNo,jdbcType=VARCHAR},
      </if>
      <if test="drugId != null">
        #{drugId,jdbcType=VARCHAR},
      </if>
      <if test="drugName != null">
        #{drugName,jdbcType=VARCHAR},
      </if>
      <if test="hospitalDrugProperty != null">
        #{hospitalDrugProperty,jdbcType=VARCHAR},
      </if>
      <if test="registerCode != null">
        #{registerCode,jdbcType=VARCHAR},
      </if>
      <if test="drupBrandName != null">
        #{drupBrandName,jdbcType=VARCHAR},
      </if>
      <if test="packUnit != null">
        #{packUnit,jdbcType=VARCHAR},
      </if>
      <if test="countUnit != null">
        #{countUnit,jdbcType=INTEGER},
      </if>
      <if test="producerId != null">
        #{producerId,jdbcType=VARCHAR},
      </if>
      <if test="producerName != null">
        #{producerName,jdbcType=VARCHAR},
      </if>
      <if test="drugDose != null">
        #{drugDose,jdbcType=VARCHAR},
      </if>
      <if test="drupDays != null">
        #{drupDays,jdbcType=VARCHAR},
      </if>
      <if test="drugAdminRouteName != null">
        #{drugAdminRouteName,jdbcType=VARCHAR},
      </if>
      <if test="drupUsingFreq != null">
        #{drupUsingFreq,jdbcType=VARCHAR},
      </if>
      <if test="drugUsingOpporunity != null">
        #{drugUsingOpporunity,jdbcType=VARCHAR},
      </if>
      <if test="drugUsingAim != null">
        #{drugUsingAim,jdbcType=VARCHAR},
      </if>
      <if test="drugUsingArea != null">
        #{drugUsingArea,jdbcType=VARCHAR},
      </if>
      <if test="drugUsingCourse != null">
        #{drugUsingCourse,jdbcType=VARCHAR},
      </if>
      <if test="preparationName != null">
        #{preparationName,jdbcType=VARCHAR},
      </if>
      <if test="specification != null">
        #{specification,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="despensingNum != null">
        #{despensingNum,jdbcType=INTEGER},
      </if>
      <if test="feeTotal != null">
        #{feeTotal,jdbcType=DOUBLE},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="approvalStaffCode != null">
        #{approvalStaffCode,jdbcType=VARCHAR},
      </if>
      <if test="approvalStaffName != null">
        #{approvalStaffName,jdbcType=VARCHAR},
      </if>
      <if test="approcalTime != null">
        #{approcalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="specialPrompt != null">
        #{specialPrompt,jdbcType=VARCHAR},
      </if>
      <if test="skinTestInfo != null">
        #{skinTestInfo,jdbcType=VARCHAR},
      </if>
      <if test="skinTestFlag != null">
        #{skinTestFlag,jdbcType=INTEGER},
      </if>
      <if test="cancelFlag != null">
        #{cancelFlag,jdbcType=INTEGER},
      </if>
      <if test="gmtModify != null">
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.soecode.web.entity.RecipeDetailDO">
    update recipe_detail
    <set>
      <if test="recipeId != null">
        recipe_id = #{recipeId,jdbcType=VARCHAR},
      </if>
      <if test="firstUser != null">
        first_user = #{firstUser,jdbcType=VARCHAR},
      </if>
      <if test="minorFlag != null">
        minor_flag = #{minorFlag,jdbcType=VARCHAR},
      </if>
      <if test="deptUseOnly != null">
        dept_use_only = #{deptUseOnly,jdbcType=VARCHAR},
      </if>
      <if test="groupNo != null">
        group_no = #{groupNo,jdbcType=VARCHAR},
      </if>
      <if test="drugId != null">
        drug_id = #{drugId,jdbcType=VARCHAR},
      </if>
      <if test="drugName != null">
        drug_name = #{drugName,jdbcType=VARCHAR},
      </if>
      <if test="hospitalDrugProperty != null">
        hospital_drug_property = #{hospitalDrugProperty,jdbcType=VARCHAR},
      </if>
      <if test="registerCode != null">
        register_code = #{registerCode,jdbcType=VARCHAR},
      </if>
      <if test="drupBrandName != null">
        drup_brand_name = #{drupBrandName,jdbcType=VARCHAR},
      </if>
      <if test="packUnit != null">
        pack_unit = #{packUnit,jdbcType=VARCHAR},
      </if>
      <if test="countUnit != null">
        count_unit = #{countUnit,jdbcType=INTEGER},
      </if>
      <if test="producerId != null">
        producer_id = #{producerId,jdbcType=VARCHAR},
      </if>
      <if test="producerName != null">
        producer_name = #{producerName,jdbcType=VARCHAR},
      </if>
      <if test="drugDose != null">
        drug_dose = #{drugDose,jdbcType=VARCHAR},
      </if>
      <if test="drupDays != null">
        drup_days = #{drupDays,jdbcType=VARCHAR},
      </if>
      <if test="drugAdminRouteName != null">
        drug_admin_route_name = #{drugAdminRouteName,jdbcType=VARCHAR},
      </if>
      <if test="drupUsingFreq != null">
        drup_using_freq = #{drupUsingFreq,jdbcType=VARCHAR},
      </if>
      <if test="drugUsingOpporunity != null">
        drug_using_opporunity = #{drugUsingOpporunity,jdbcType=VARCHAR},
      </if>
      <if test="drugUsingAim != null">
        drug_using_aim = #{drugUsingAim,jdbcType=VARCHAR},
      </if>
      <if test="drugUsingArea != null">
        drug_using_area = #{drugUsingArea,jdbcType=VARCHAR},
      </if>
      <if test="drugUsingCourse != null">
        drug_using_course = #{drugUsingCourse,jdbcType=VARCHAR},
      </if>
      <if test="preparationName != null">
        preparation_name = #{preparationName,jdbcType=VARCHAR},
      </if>
      <if test="specification != null">
        specification = #{specification,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="despensingNum != null">
        despensing_num = #{despensingNum,jdbcType=INTEGER},
      </if>
      <if test="feeTotal != null">
        fee_total = #{feeTotal,jdbcType=DOUBLE},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="approvalStaffCode != null">
        approval_staff_code = #{approvalStaffCode,jdbcType=VARCHAR},
      </if>
      <if test="approvalStaffName != null">
        approval_staff_name = #{approvalStaffName,jdbcType=VARCHAR},
      </if>
      <if test="approcalTime != null">
        approcal_time = #{approcalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="specialPrompt != null">
        special_prompt = #{specialPrompt,jdbcType=VARCHAR},
      </if>
      <if test="skinTestInfo != null">
        skin_test_info = #{skinTestInfo,jdbcType=VARCHAR},
      </if>
      <if test="skinTestFlag != null">
        skin_test_flag = #{skinTestFlag,jdbcType=INTEGER},
      </if>
      <if test="cancelFlag != null">
        cancel_flag = #{cancelFlag,jdbcType=INTEGER},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.soecode.web.entity.RecipeDetailDO">
    update recipe_detail
    set recipe_id = #{recipeId,jdbcType=VARCHAR},
      first_user = #{firstUser,jdbcType=VARCHAR},
      minor_flag = #{minorFlag,jdbcType=VARCHAR},
      dept_use_only = #{deptUseOnly,jdbcType=VARCHAR},
      group_no = #{groupNo,jdbcType=VARCHAR},
      drug_id = #{drugId,jdbcType=VARCHAR},
      drug_name = #{drugName,jdbcType=VARCHAR},
      hospital_drug_property = #{hospitalDrugProperty,jdbcType=VARCHAR},
      register_code = #{registerCode,jdbcType=VARCHAR},
      drup_brand_name = #{drupBrandName,jdbcType=VARCHAR},
      pack_unit = #{packUnit,jdbcType=VARCHAR},
      count_unit = #{countUnit,jdbcType=INTEGER},
      producer_id = #{producerId,jdbcType=VARCHAR},
      producer_name = #{producerName,jdbcType=VARCHAR},
      drug_dose = #{drugDose,jdbcType=VARCHAR},
      drup_days = #{drupDays,jdbcType=VARCHAR},
      drug_admin_route_name = #{drugAdminRouteName,jdbcType=VARCHAR},
      drup_using_freq = #{drupUsingFreq,jdbcType=VARCHAR},
      drug_using_opporunity = #{drugUsingOpporunity,jdbcType=VARCHAR},
      drug_using_aim = #{drugUsingAim,jdbcType=VARCHAR},
      drug_using_area = #{drugUsingArea,jdbcType=VARCHAR},
      drug_using_course = #{drugUsingCourse,jdbcType=VARCHAR},
      preparation_name = #{preparationName,jdbcType=VARCHAR},
      specification = #{specification,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      despensing_num = #{despensingNum,jdbcType=INTEGER},
      fee_total = #{feeTotal,jdbcType=DOUBLE},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      approval_staff_code = #{approvalStaffCode,jdbcType=VARCHAR},
      approval_staff_name = #{approvalStaffName,jdbcType=VARCHAR},
      approcal_time = #{approcalTime,jdbcType=TIMESTAMP},
      special_prompt = #{specialPrompt,jdbcType=VARCHAR},
      skin_test_info = #{skinTestInfo,jdbcType=VARCHAR},
      skin_test_flag = #{skinTestFlag,jdbcType=INTEGER},
      cancel_flag = #{cancelFlag,jdbcType=INTEGER},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>