<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soecode.web.mapper.RecipeOutlineMapper">
  <resultMap id="BaseResultMap" type="com.soecode.web.entity.RecipeOutlineDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="corp_code" jdbcType="VARCHAR" property="corpCode" />
    <result column="his_patient_id" jdbcType="VARCHAR" property="hisPatientId" />
    <result column="his_patient_name" jdbcType="VARCHAR" property="hisPatientName" />
    <result column="recipe_id" jdbcType="VARCHAR" property="recipeId" />
    <result column="recipe_status" jdbcType="VARCHAR" property="recipeStatus" />
    <result column="recipe_source" jdbcType="VARCHAR" property="recipeSource" />
    <result column="recipe_type" jdbcType="VARCHAR" property="recipeType" />
    <result column="recipe_category" jdbcType="VARCHAR" property="recipeCategory" />
    <result column="recipe_valid_date" jdbcType="VARCHAR" property="recipeValidDate" />
    <result column="recipe_total_fee" jdbcType="INTEGER" property="recipeTotalFee" />
    <result column="recipe_item_detail_id" jdbcType="BIGINT" property="recipeItemDetailId" />
    <result column="fee_total" jdbcType="INTEGER" property="feeTotal" />
    <result column="fee_channel" jdbcType="BIGINT" property="feeChannel" />
    <result column="electronic_prescript_pdf" jdbcType="VARCHAR" property="electronicPrescriptPdf" />
    <result column="icd_code" jdbcType="VARCHAR" property="icdCode" />
    <result column="hospital_diag_code" jdbcType="VARCHAR" property="hospitalDiagCode" />
    <result column="hospital_diag_name" jdbcType="VARCHAR" property="hospitalDiagName" />
    <result column="dept_code" jdbcType="VARCHAR" property="deptCode" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="doct_name" jdbcType="VARCHAR" property="doctName" />
    <result column="doct_profe" jdbcType="VARCHAR" property="doctProfe" />
    <result column="recipe_date" jdbcType="TIMESTAMP" property="recipeDate" />
    <result column="check_doct_code" jdbcType="VARCHAR" property="checkDoctCode" />
    <result column="check_doct_name" jdbcType="VARCHAR" property="checkDoctName" />
    <result column="check_doct_profe" jdbcType="VARCHAR" property="checkDoctProfe" />
    <result column="check_recipe_date" jdbcType="TIMESTAMP" property="checkRecipeDate" />
    <result column="prepPharm_doct_code" jdbcType="VARCHAR" property="preppharmDoctCode" />
    <result column="prepPharm_doct_name" jdbcType="VARCHAR" property="preppharmDoctName" />
    <result column="prepPharm_doct_profe" jdbcType="VARCHAR" property="preppharmDoctProfe" />
    <result column="prepPharm_date" jdbcType="TIMESTAMP" property="preppharmDate" />
    <result column="despensingPharm_doct_code" jdbcType="VARCHAR" property="despensingpharmDoctCode" />
    <result column="despensingPharm_doct_name" jdbcType="VARCHAR" property="despensingpharmDoctName" />
    <result column="despensingPharm_doct_profe" jdbcType="VARCHAR" property="despensingpharmDoctProfe" />
    <result column="despensingPharm_date" jdbcType="TIMESTAMP" property="despensingpharmDate" />
    <result column="pharmacy_name" jdbcType="VARCHAR" property="pharmacyName" />
    <result column="fee_staff_code" jdbcType="VARCHAR" property="feeStaffCode" />
    <result column="fee_staff_name" jdbcType="VARCHAR" property="feeStaffName" />
    <result column="fee_from_no" jdbcType="VARCHAR" property="feeFromNo" />
    <result column="fee_taken_date" jdbcType="TIMESTAMP" property="feeTakenDate" />
    <result column="receipt_no" jdbcType="VARCHAR" property="receiptNo" />
    <result column="can_delivery" jdbcType="INTEGER" property="canDelivery" />
    <result column="order_status" jdbcType="INTEGER" property="orderStatus" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
  </resultMap>
  <sql id="Base_Column_List">
    id, corp_code, his_patient_id, his_patient_name, recipe_id, recipe_status, recipe_source, 
    recipe_type, recipe_category, recipe_valid_date, recipe_total_fee, recipe_item_detail_id, 
    fee_total, fee_channel, electronic_prescript_pdf, icd_code, hospital_diag_code, hospital_diag_name, 
    dept_code, dept_name, doct_name, doct_profe, recipe_date, check_doct_code, check_doct_name, 
    check_doct_profe, check_recipe_date, prepPharm_doct_code, prepPharm_doct_name, prepPharm_doct_profe, 
    prepPharm_date, despensingPharm_doct_code, despensingPharm_doct_name, despensingPharm_doct_profe, 
    despensingPharm_date, pharmacy_name, fee_staff_code, fee_staff_name, fee_from_no, 
    fee_taken_date, receipt_no, can_delivery, order_status, gmt_create, gmt_modify
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from recipe_outline
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from recipe_outline
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.soecode.web.entity.RecipeOutlineDO">
    insert into recipe_outline (id, corp_code, his_patient_id, 
      his_patient_name, recipe_id, recipe_status, 
      recipe_source, recipe_type, recipe_category, 
      recipe_valid_date, recipe_total_fee, recipe_item_detail_id, 
      fee_total, fee_channel, electronic_prescript_pdf, 
      icd_code, hospital_diag_code, hospital_diag_name, 
      dept_code, dept_name, doct_name, 
      doct_profe, recipe_date, check_doct_code, 
      check_doct_name, check_doct_profe, check_recipe_date, 
      prepPharm_doct_code, prepPharm_doct_name, prepPharm_doct_profe, 
      prepPharm_date, despensingPharm_doct_code, 
      despensingPharm_doct_name, despensingPharm_doct_profe, 
      despensingPharm_date, pharmacy_name, fee_staff_code, 
      fee_staff_name, fee_from_no, fee_taken_date, 
      receipt_no, can_delivery, order_status, 
      gmt_create, gmt_modify)
    values (#{id,jdbcType=INTEGER}, #{corpCode,jdbcType=VARCHAR}, #{hisPatientId,jdbcType=VARCHAR}, 
      #{hisPatientName,jdbcType=VARCHAR}, #{recipeId,jdbcType=VARCHAR}, #{recipeStatus,jdbcType=VARCHAR}, 
      #{recipeSource,jdbcType=VARCHAR}, #{recipeType,jdbcType=VARCHAR}, #{recipeCategory,jdbcType=VARCHAR}, 
      #{recipeValidDate,jdbcType=VARCHAR}, #{recipeTotalFee,jdbcType=INTEGER}, #{recipeItemDetailId,jdbcType=BIGINT}, 
      #{feeTotal,jdbcType=INTEGER}, #{feeChannel,jdbcType=BIGINT}, #{electronicPrescriptPdf,jdbcType=VARCHAR}, 
      #{icdCode,jdbcType=VARCHAR}, #{hospitalDiagCode,jdbcType=VARCHAR}, #{hospitalDiagName,jdbcType=VARCHAR}, 
      #{deptCode,jdbcType=VARCHAR}, #{deptName,jdbcType=VARCHAR}, #{doctName,jdbcType=VARCHAR}, 
      #{doctProfe,jdbcType=VARCHAR}, #{recipeDate,jdbcType=TIMESTAMP}, #{checkDoctCode,jdbcType=VARCHAR}, 
      #{checkDoctName,jdbcType=VARCHAR}, #{checkDoctProfe,jdbcType=VARCHAR}, #{checkRecipeDate,jdbcType=TIMESTAMP}, 
      #{preppharmDoctCode,jdbcType=VARCHAR}, #{preppharmDoctName,jdbcType=VARCHAR}, #{preppharmDoctProfe,jdbcType=VARCHAR}, 
      #{preppharmDate,jdbcType=TIMESTAMP}, #{despensingpharmDoctCode,jdbcType=VARCHAR}, 
      #{despensingpharmDoctName,jdbcType=VARCHAR}, #{despensingpharmDoctProfe,jdbcType=VARCHAR}, 
      #{despensingpharmDate,jdbcType=TIMESTAMP}, #{pharmacyName,jdbcType=VARCHAR}, #{feeStaffCode,jdbcType=VARCHAR}, 
      #{feeStaffName,jdbcType=VARCHAR}, #{feeFromNo,jdbcType=VARCHAR}, #{feeTakenDate,jdbcType=TIMESTAMP}, 
      #{receiptNo,jdbcType=VARCHAR}, #{canDelivery,jdbcType=INTEGER}, #{orderStatus,jdbcType=INTEGER}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.soecode.web.entity.RecipeOutlineDO">
    insert into recipe_outline
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="corpCode != null">
        corp_code,
      </if>
      <if test="hisPatientId != null">
        his_patient_id,
      </if>
      <if test="hisPatientName != null">
        his_patient_name,
      </if>
      <if test="recipeId != null">
        recipe_id,
      </if>
      <if test="recipeStatus != null">
        recipe_status,
      </if>
      <if test="recipeSource != null">
        recipe_source,
      </if>
      <if test="recipeType != null">
        recipe_type,
      </if>
      <if test="recipeCategory != null">
        recipe_category,
      </if>
      <if test="recipeValidDate != null">
        recipe_valid_date,
      </if>
      <if test="recipeTotalFee != null">
        recipe_total_fee,
      </if>
      <if test="recipeItemDetailId != null">
        recipe_item_detail_id,
      </if>
      <if test="feeTotal != null">
        fee_total,
      </if>
      <if test="feeChannel != null">
        fee_channel,
      </if>
      <if test="electronicPrescriptPdf != null">
        electronic_prescript_pdf,
      </if>
      <if test="icdCode != null">
        icd_code,
      </if>
      <if test="hospitalDiagCode != null">
        hospital_diag_code,
      </if>
      <if test="hospitalDiagName != null">
        hospital_diag_name,
      </if>
      <if test="deptCode != null">
        dept_code,
      </if>
      <if test="deptName != null">
        dept_name,
      </if>
      <if test="doctName != null">
        doct_name,
      </if>
      <if test="doctProfe != null">
        doct_profe,
      </if>
      <if test="recipeDate != null">
        recipe_date,
      </if>
      <if test="checkDoctCode != null">
        check_doct_code,
      </if>
      <if test="checkDoctName != null">
        check_doct_name,
      </if>
      <if test="checkDoctProfe != null">
        check_doct_profe,
      </if>
      <if test="checkRecipeDate != null">
        check_recipe_date,
      </if>
      <if test="preppharmDoctCode != null">
        prepPharm_doct_code,
      </if>
      <if test="preppharmDoctName != null">
        prepPharm_doct_name,
      </if>
      <if test="preppharmDoctProfe != null">
        prepPharm_doct_profe,
      </if>
      <if test="preppharmDate != null">
        prepPharm_date,
      </if>
      <if test="despensingpharmDoctCode != null">
        despensingPharm_doct_code,
      </if>
      <if test="despensingpharmDoctName != null">
        despensingPharm_doct_name,
      </if>
      <if test="despensingpharmDoctProfe != null">
        despensingPharm_doct_profe,
      </if>
      <if test="despensingpharmDate != null">
        despensingPharm_date,
      </if>
      <if test="pharmacyName != null">
        pharmacy_name,
      </if>
      <if test="feeStaffCode != null">
        fee_staff_code,
      </if>
      <if test="feeStaffName != null">
        fee_staff_name,
      </if>
      <if test="feeFromNo != null">
        fee_from_no,
      </if>
      <if test="feeTakenDate != null">
        fee_taken_date,
      </if>
      <if test="receiptNo != null">
        receipt_no,
      </if>
      <if test="canDelivery != null">
        can_delivery,
      </if>
      <if test="orderStatus != null">
        order_status,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModify != null">
        gmt_modify,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="corpCode != null">
        #{corpCode,jdbcType=VARCHAR},
      </if>
      <if test="hisPatientId != null">
        #{hisPatientId,jdbcType=VARCHAR},
      </if>
      <if test="hisPatientName != null">
        #{hisPatientName,jdbcType=VARCHAR},
      </if>
      <if test="recipeId != null">
        #{recipeId,jdbcType=VARCHAR},
      </if>
      <if test="recipeStatus != null">
        #{recipeStatus,jdbcType=VARCHAR},
      </if>
      <if test="recipeSource != null">
        #{recipeSource,jdbcType=VARCHAR},
      </if>
      <if test="recipeType != null">
        #{recipeType,jdbcType=VARCHAR},
      </if>
      <if test="recipeCategory != null">
        #{recipeCategory,jdbcType=VARCHAR},
      </if>
      <if test="recipeValidDate != null">
        #{recipeValidDate,jdbcType=VARCHAR},
      </if>
      <if test="recipeTotalFee != null">
        #{recipeTotalFee,jdbcType=INTEGER},
      </if>
      <if test="recipeItemDetailId != null">
        #{recipeItemDetailId,jdbcType=BIGINT},
      </if>
      <if test="feeTotal != null">
        #{feeTotal,jdbcType=INTEGER},
      </if>
      <if test="feeChannel != null">
        #{feeChannel,jdbcType=BIGINT},
      </if>
      <if test="electronicPrescriptPdf != null">
        #{electronicPrescriptPdf,jdbcType=VARCHAR},
      </if>
      <if test="icdCode != null">
        #{icdCode,jdbcType=VARCHAR},
      </if>
      <if test="hospitalDiagCode != null">
        #{hospitalDiagCode,jdbcType=VARCHAR},
      </if>
      <if test="hospitalDiagName != null">
        #{hospitalDiagName,jdbcType=VARCHAR},
      </if>
      <if test="deptCode != null">
        #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="doctName != null">
        #{doctName,jdbcType=VARCHAR},
      </if>
      <if test="doctProfe != null">
        #{doctProfe,jdbcType=VARCHAR},
      </if>
      <if test="recipeDate != null">
        #{recipeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="checkDoctCode != null">
        #{checkDoctCode,jdbcType=VARCHAR},
      </if>
      <if test="checkDoctName != null">
        #{checkDoctName,jdbcType=VARCHAR},
      </if>
      <if test="checkDoctProfe != null">
        #{checkDoctProfe,jdbcType=VARCHAR},
      </if>
      <if test="checkRecipeDate != null">
        #{checkRecipeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="preppharmDoctCode != null">
        #{preppharmDoctCode,jdbcType=VARCHAR},
      </if>
      <if test="preppharmDoctName != null">
        #{preppharmDoctName,jdbcType=VARCHAR},
      </if>
      <if test="preppharmDoctProfe != null">
        #{preppharmDoctProfe,jdbcType=VARCHAR},
      </if>
      <if test="preppharmDate != null">
        #{preppharmDate,jdbcType=TIMESTAMP},
      </if>
      <if test="despensingpharmDoctCode != null">
        #{despensingpharmDoctCode,jdbcType=VARCHAR},
      </if>
      <if test="despensingpharmDoctName != null">
        #{despensingpharmDoctName,jdbcType=VARCHAR},
      </if>
      <if test="despensingpharmDoctProfe != null">
        #{despensingpharmDoctProfe,jdbcType=VARCHAR},
      </if>
      <if test="despensingpharmDate != null">
        #{despensingpharmDate,jdbcType=TIMESTAMP},
      </if>
      <if test="pharmacyName != null">
        #{pharmacyName,jdbcType=VARCHAR},
      </if>
      <if test="feeStaffCode != null">
        #{feeStaffCode,jdbcType=VARCHAR},
      </if>
      <if test="feeStaffName != null">
        #{feeStaffName,jdbcType=VARCHAR},
      </if>
      <if test="feeFromNo != null">
        #{feeFromNo,jdbcType=VARCHAR},
      </if>
      <if test="feeTakenDate != null">
        #{feeTakenDate,jdbcType=TIMESTAMP},
      </if>
      <if test="receiptNo != null">
        #{receiptNo,jdbcType=VARCHAR},
      </if>
      <if test="canDelivery != null">
        #{canDelivery,jdbcType=INTEGER},
      </if>
      <if test="orderStatus != null">
        #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.soecode.web.entity.RecipeOutlineDO">
    update recipe_outline
    <set>
      <if test="corpCode != null">
        corp_code = #{corpCode,jdbcType=VARCHAR},
      </if>
      <if test="hisPatientId != null">
        his_patient_id = #{hisPatientId,jdbcType=VARCHAR},
      </if>
      <if test="hisPatientName != null">
        his_patient_name = #{hisPatientName,jdbcType=VARCHAR},
      </if>
      <if test="recipeId != null">
        recipe_id = #{recipeId,jdbcType=VARCHAR},
      </if>
      <if test="recipeStatus != null">
        recipe_status = #{recipeStatus,jdbcType=VARCHAR},
      </if>
      <if test="recipeSource != null">
        recipe_source = #{recipeSource,jdbcType=VARCHAR},
      </if>
      <if test="recipeType != null">
        recipe_type = #{recipeType,jdbcType=VARCHAR},
      </if>
      <if test="recipeCategory != null">
        recipe_category = #{recipeCategory,jdbcType=VARCHAR},
      </if>
      <if test="recipeValidDate != null">
        recipe_valid_date = #{recipeValidDate,jdbcType=VARCHAR},
      </if>
      <if test="recipeTotalFee != null">
        recipe_total_fee = #{recipeTotalFee,jdbcType=INTEGER},
      </if>
      <if test="recipeItemDetailId != null">
        recipe_item_detail_id = #{recipeItemDetailId,jdbcType=BIGINT},
      </if>
      <if test="feeTotal != null">
        fee_total = #{feeTotal,jdbcType=INTEGER},
      </if>
      <if test="feeChannel != null">
        fee_channel = #{feeChannel,jdbcType=BIGINT},
      </if>
      <if test="electronicPrescriptPdf != null">
        electronic_prescript_pdf = #{electronicPrescriptPdf,jdbcType=VARCHAR},
      </if>
      <if test="icdCode != null">
        icd_code = #{icdCode,jdbcType=VARCHAR},
      </if>
      <if test="hospitalDiagCode != null">
        hospital_diag_code = #{hospitalDiagCode,jdbcType=VARCHAR},
      </if>
      <if test="hospitalDiagName != null">
        hospital_diag_name = #{hospitalDiagName,jdbcType=VARCHAR},
      </if>
      <if test="deptCode != null">
        dept_code = #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        dept_name = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="doctName != null">
        doct_name = #{doctName,jdbcType=VARCHAR},
      </if>
      <if test="doctProfe != null">
        doct_profe = #{doctProfe,jdbcType=VARCHAR},
      </if>
      <if test="recipeDate != null">
        recipe_date = #{recipeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="checkDoctCode != null">
        check_doct_code = #{checkDoctCode,jdbcType=VARCHAR},
      </if>
      <if test="checkDoctName != null">
        check_doct_name = #{checkDoctName,jdbcType=VARCHAR},
      </if>
      <if test="checkDoctProfe != null">
        check_doct_profe = #{checkDoctProfe,jdbcType=VARCHAR},
      </if>
      <if test="checkRecipeDate != null">
        check_recipe_date = #{checkRecipeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="preppharmDoctCode != null">
        prepPharm_doct_code = #{preppharmDoctCode,jdbcType=VARCHAR},
      </if>
      <if test="preppharmDoctName != null">
        prepPharm_doct_name = #{preppharmDoctName,jdbcType=VARCHAR},
      </if>
      <if test="preppharmDoctProfe != null">
        prepPharm_doct_profe = #{preppharmDoctProfe,jdbcType=VARCHAR},
      </if>
      <if test="preppharmDate != null">
        prepPharm_date = #{preppharmDate,jdbcType=TIMESTAMP},
      </if>
      <if test="despensingpharmDoctCode != null">
        despensingPharm_doct_code = #{despensingpharmDoctCode,jdbcType=VARCHAR},
      </if>
      <if test="despensingpharmDoctName != null">
        despensingPharm_doct_name = #{despensingpharmDoctName,jdbcType=VARCHAR},
      </if>
      <if test="despensingpharmDoctProfe != null">
        despensingPharm_doct_profe = #{despensingpharmDoctProfe,jdbcType=VARCHAR},
      </if>
      <if test="despensingpharmDate != null">
        despensingPharm_date = #{despensingpharmDate,jdbcType=TIMESTAMP},
      </if>
      <if test="pharmacyName != null">
        pharmacy_name = #{pharmacyName,jdbcType=VARCHAR},
      </if>
      <if test="feeStaffCode != null">
        fee_staff_code = #{feeStaffCode,jdbcType=VARCHAR},
      </if>
      <if test="feeStaffName != null">
        fee_staff_name = #{feeStaffName,jdbcType=VARCHAR},
      </if>
      <if test="feeFromNo != null">
        fee_from_no = #{feeFromNo,jdbcType=VARCHAR},
      </if>
      <if test="feeTakenDate != null">
        fee_taken_date = #{feeTakenDate,jdbcType=TIMESTAMP},
      </if>
      <if test="receiptNo != null">
        receipt_no = #{receiptNo,jdbcType=VARCHAR},
      </if>
      <if test="canDelivery != null">
        can_delivery = #{canDelivery,jdbcType=INTEGER},
      </if>
      <if test="orderStatus != null">
        order_status = #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.soecode.web.entity.RecipeOutlineDO">
    update recipe_outline
    set corp_code = #{corpCode,jdbcType=VARCHAR},
      his_patient_id = #{hisPatientId,jdbcType=VARCHAR},
      his_patient_name = #{hisPatientName,jdbcType=VARCHAR},
      recipe_id = #{recipeId,jdbcType=VARCHAR},
      recipe_status = #{recipeStatus,jdbcType=VARCHAR},
      recipe_source = #{recipeSource,jdbcType=VARCHAR},
      recipe_type = #{recipeType,jdbcType=VARCHAR},
      recipe_category = #{recipeCategory,jdbcType=VARCHAR},
      recipe_valid_date = #{recipeValidDate,jdbcType=VARCHAR},
      recipe_total_fee = #{recipeTotalFee,jdbcType=INTEGER},
      recipe_item_detail_id = #{recipeItemDetailId,jdbcType=BIGINT},
      fee_total = #{feeTotal,jdbcType=INTEGER},
      fee_channel = #{feeChannel,jdbcType=BIGINT},
      electronic_prescript_pdf = #{electronicPrescriptPdf,jdbcType=VARCHAR},
      icd_code = #{icdCode,jdbcType=VARCHAR},
      hospital_diag_code = #{hospitalDiagCode,jdbcType=VARCHAR},
      hospital_diag_name = #{hospitalDiagName,jdbcType=VARCHAR},
      dept_code = #{deptCode,jdbcType=VARCHAR},
      dept_name = #{deptName,jdbcType=VARCHAR},
      doct_name = #{doctName,jdbcType=VARCHAR},
      doct_profe = #{doctProfe,jdbcType=VARCHAR},
      recipe_date = #{recipeDate,jdbcType=TIMESTAMP},
      check_doct_code = #{checkDoctCode,jdbcType=VARCHAR},
      check_doct_name = #{checkDoctName,jdbcType=VARCHAR},
      check_doct_profe = #{checkDoctProfe,jdbcType=VARCHAR},
      check_recipe_date = #{checkRecipeDate,jdbcType=TIMESTAMP},
      prepPharm_doct_code = #{preppharmDoctCode,jdbcType=VARCHAR},
      prepPharm_doct_name = #{preppharmDoctName,jdbcType=VARCHAR},
      prepPharm_doct_profe = #{preppharmDoctProfe,jdbcType=VARCHAR},
      prepPharm_date = #{preppharmDate,jdbcType=TIMESTAMP},
      despensingPharm_doct_code = #{despensingpharmDoctCode,jdbcType=VARCHAR},
      despensingPharm_doct_name = #{despensingpharmDoctName,jdbcType=VARCHAR},
      despensingPharm_doct_profe = #{despensingpharmDoctProfe,jdbcType=VARCHAR},
      despensingPharm_date = #{despensingpharmDate,jdbcType=TIMESTAMP},
      pharmacy_name = #{pharmacyName,jdbcType=VARCHAR},
      fee_staff_code = #{feeStaffCode,jdbcType=VARCHAR},
      fee_staff_name = #{feeStaffName,jdbcType=VARCHAR},
      fee_from_no = #{feeFromNo,jdbcType=VARCHAR},
      fee_taken_date = #{feeTakenDate,jdbcType=TIMESTAMP},
      receipt_no = #{receiptNo,jdbcType=VARCHAR},
      can_delivery = #{canDelivery,jdbcType=INTEGER},
      order_status = #{orderStatus,jdbcType=INTEGER},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>